body {
    margin: 0;
    
    font-family: 'Cambay', sans-serif;
    
    background-color: #fff;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    background: linear-gradient(#e66465, #9198e5);

    &__title {
        margin: 0;
        padding: 0 15px;
        font-size: 40px;
        line-height: 100px;
        text-transform: uppercase;
        color: #fff;
    }

    &__img {
        padding: 15px;
    }
}

.memeGen {
    display: flex;
    margin-bottom: 40px;

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    &__input {
        width: 250px;
        margin: 0;
        margin-right: 15px;
        padding: 0;

        font-size: 25px;
        line-height: 50px;
        color: #888;

        background-color: transparent;
        border:none;
        border-bottom: 1px solid #bbb;

        &:focus {
            border-bottom: 1px solid rgb(81, 113, 255);
            box-shadow: 0px 2px 2px rgba(81, 113, 255, .3);
            outline: none;
        }
    }

    &__btn {
        margin: 0;
        padding: 10px 10px 8px 10px;

        font-size: 30px;
        line-height: 30px;

        background-color: transparent;
        border: 1px solid #bbb;
        border-radius: 5px;

        &:hover, &:focus {
            border: 1px solid rgb(81, 113, 255);
            box-shadow: 2px 2px 2px rgba(81, 113, 255, .3),
                        -2px -2px 2px rgba(81, 113, 255, .3);

        }
    }
}

.meme {
    position: relative;

    display: flex;

    margin-bottom: 20px;

    &__txt {
        position: absolute;
        left: 10px;
        right: 10px;

        width: calc(100% - 20px);
        margin: 0;
        padding: 0;

        font-family: impact, sans-serif;
        font-size: 50px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        word-wrap: break-word;
        text-transform: uppercase;
        -webkit-text-stroke: 3px #000;

        &--top {
            top: 10px;
        }

        &--bottom {
            bottom: 15px;
        }
    }

    &__img {
        width: 600px;
    }
}

.export {
    margin: 0;
    padding: 10px 10px 8px 10px;

    font-size: 30px;
    line-height: 30px;

    background-color: transparent;
    border: 1px solid #bbb;
    border-radius: 5px;

    &:hover, &:focus {
        border: 1px solid rgb(81, 113, 255);
        box-shadow: 2px 2px 2px rgba(81, 113, 255, .3),
                    -2px -2px 2px rgba(81, 113, 255, .3);

    }

}